.input-group {
    display: flex; // puts things left to right
    flex-direction: column;
    margin-bottom: $medium-size;

    @media (min-width: $desktop-breakpoint) {
        flex-direction: row;
        margin-bottom: $large-size;
    }
}

.input-group__item {
    margin-bottom: $small-size;

    @media (min-width: $desktop-breakpoint) {
        margin: 0 $small-size 0 0;
    }
}